/* --------------------------------------- */
/* CUSTOMERS */
/* --------------------------------------- */

.testimonial {
  font-size: 1.2rem;
}

.testimonial:first-of-type {
  margin-top: 6rem;
}

.testimonial__image-container {
  max-width: 580px;
  overflow: hidden;
  padding: 0 1rem;
}

.testimonial__image-container:nth-child(2) {
  margin-bottom: 2rem;
}

.testimonial__image {
  width: 80%;
  -webkit-box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, .4);
          box-shadow: 3px 3px 5px 3px rgba(0, 0, 0, .4);
  border-radius: 5px;
}

.testimonial__info {
  text-align: right;
  padding: .9rem;
}

#customer-2.testimonial {
  text-align: right;
}

#customer-2 .testimonial__info {
  text-align: left;
}

.testimonial__name {
  margin: .2rem;
  color: #4a76a8;
  font-size: 2rem;
}

.testimonial__subtitle {
  margin: 0;
  font-size: 1.1rem;
  color: #5181b8;
}

.testimonial__subtitle a {
  color: inherit;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: #2a5885;
}

.testimonial__text {
  margin: .2rem;
  font-style: italic;
  text-shadow: 2px 2px 7px rgb(185, 180, 180);
}

@media (min-width: 36rem) {
  main > div {
    padding: 5rem 3rem;
  }
  
  .testimonial {
    margin: 3rem auto;
    max-width: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .testimonial__info {
    width: 40%;
  }
}

@media (min-width: 37.5rem) {
  .testimonial__image-container {
    width: 55%;
  }

  .testimonial__image {
    width: 100%;
  }

  #customer-2 .testimonial__image {
    margin-top: 7rem;
  }
}

@media (min-width: 48rem) {
  .testimonial__image-container {
    -webkit-transform: skew(20deg);
        -ms-transform: skew(20deg);
            transform: skew(20deg);
    width: 48%;
  }

  .testimonial__image {
    -webkit-transform: skew(-20deg) scaleX(1.4);
        -ms-transform: skew(-20deg) scaleX(1.4);
            transform: skew(-20deg) scaleX(1.4);
    border-radius: 5px;
  }

  #customer-1:hover .testimonial__image-container,
  #customer-2:hover .testimonial__image-container {
  -webkit-animation: flip-animation 1s ease-out forwards;
          animation: flip-animation 1s ease-out forwards;
  }
}

@media (min-width: 85rem) {
  .testimonial__image-container {
    width: 55%;
  }
}

@-webkit-keyframes flip-animation {
  0% {
    -webkit-transform: rotateY(0) skew(20deg);
            transform: rotateY(0) skew(20deg);
  }
  50% {
    -webkit-transform: rotateY(160deg) skew(20deg);
            transform: rotateY(160deg) skew(20deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) skew(20deg);
            transform: rotateY(360deg) skew(20deg);
  }
}

@keyframes flip-animation {
  0% {
    -webkit-transform: rotateY(0) skew(20deg);
            transform: rotateY(0) skew(20deg);
  }
  50% {
    -webkit-transform: rotateY(160deg) skew(20deg);
            transform: rotateY(160deg) skew(20deg);
  }
  100% {
    -webkit-transform: rotateY(360deg) skew(20deg);
            transform: rotateY(360deg) skew(20deg);
  }
}