/*---------------------------------------*/
/* PRODUCT OVERVIEW */
/*---------------------------------------*/

#product-overview {
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0)), url(img/home.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  padding: .625rem;
  letter-spacing: .31rem;
}

#product-overview h1 {
  color: rgb(247, 248, 250);
  font-family: 'Anton', sans-serif;
  font-size:2.5rem;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

/*---------------------------------------*/
/* PLANS */
/*---------------------------------------*/

#plans {
  background: rgb(237, 238, 240);
  padding-bottom: 5rem;
  padding-top: .4rem;
}

.section-title {
  color: rgb(2, 184, 117);
  text-align: center;
}

.section-title h1 {
  margin: 0;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background-color: #6ace26;
  color: #FFF;
  text-align: center;
  padding: 1rem;
  margin: .5rem;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan__price__old {
  text-decoration: line-through; 
}

.plan .plan__price__old {
  color: rgb(133, 133, 133);
}

.plan__recommended .plan__price__old {
  color: #0e4f1f; 
}

.plan__recommended {
  background: #19b84c;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
}

.plan__annotation {
  background: rgb(230, 133, 35);
  padding: .5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
  border-radius: 8px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: rgb(133, 133, 133);
}

.plan__recommended .plan__title {
  color: rgb(247, 248, 250);
}

.plan__recommended .plan__price {
  color: #0e4f1f;
}

.plan__features {
  list-style: none;
}

  .plan__features li {
    margin: .5rem 0;
  }

/*---------------------------------------*/
/* REASONS */
/*---------------------------------------*/

#reasons {
  background: rgb(81, 129, 184);
  padding: 1rem;
}

#reasons > .section-title {
  color: #FFF;
  margin: 2rem;
}

.reasons__list {
  list-style: none;
  text-align: center;
}

.reason {
  display: inline-block;
  width: 30%;
}

.reason__description {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  color: #FFF;
}

.reason__img {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 1.25rem;
}

/*---------------------------------------*/
/* MODAL */
/*---------------------------------------*/

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}