/*---------------------------------------*/
/* BUTTONS */
/*---------------------------------------*/

.buttons {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  list-style: none;
  position: absolute;
  width: 100%;
  top: 75%;
  text-align: center;
}

.btn {
  margin-bottom: .5rem;
}

.btn:link,
.btn:visited,
input[type=submit] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: bold;
  text-decoration: none;
  -webkit-border-radius: 200px;
      -moz-border-radius: 200px;
          border-radius: 200px;
  -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
  -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
  background-color: #6ace26;
  border: 1px solid #6ace26;
  color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #FFF;
  color: #FFF;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-image: linear-gradient(to right, #6ace26 0%, #96dc66 10%, #96dc66 80%, #6ace26 100%);
  cursor: pointer;
}

.btn-ghost:hover,
.btn-ghost:active,
input[type=submit]:hover,
input[type=submit]:active {
  background-image: linear-gradient(to right, #4a76a8 0%, #4a76a8 10%, #4a76a8 80%, #4a76a8 100%);
  cursor: pointer;
}

.btn-full:hover,
.btn-full:active {
  border: 1px solid #6ace26;
  cursor: pointer;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid rgb(42, 88, 133);
  cursor: pointer;
}

#product-overview .btn:hover {
  background-color: #FFF;
}

.btn:focus {
  outline: none;
}

/*---------------------------------------*/
/* PRODUCT OVERVIEW */
/*---------------------------------------*/

#product-overview {
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0)), url(img/home.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  padding: .625rem;
  letter-spacing: .31rem;
  position: relative;
}

#product-overview div h1 {
  color: rgb(247, 248, 250);
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 50%);
}

#product-overview div h1 {
  text-align: center;
}

/*---------------------------------------*/
/* PLANS */
/*---------------------------------------*/

#plans {
  background: rgba(81, 129, 184, 0.26);
  padding-bottom: 4rem;
  padding-top: .4rem;
}

.section-title {
  color: rgb(42, 88, 133);
  text-align: center;
  font-size: 2rem;
}

.section-title h1 {
  margin: 0;
}

.plan {
  background-color: rgb(54, 197, 240);
  color: #FFF;
  text-align: center;
  padding: 1rem;
  margin: .5rem 0;
  display: block;
  width: 100%;
}

.plan__price__old {
  text-decoration: line-through; 
}

.plan .plan__price__old {
  color: rgb(133, 133, 133);
  font-size: 1rem;
}

.plan__recommended {
  background: rgb(29, 161, 242);
}

.plan__annotation {
  background: #f99c08;
  padding: .5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
  border-radius: 8px;
}

.plan__title {
  color: rgb(42, 88, 133)
}

.plan__price {
  color: rgb(133, 133, 133);
}

.plan__features {
  list-style: none;
}

.plan__features li {
  margin: .5rem 0;
}

/*---------------------------------------*/
/* REASONS */
/*---------------------------------------*/

#reasons {
  background: rgb(81, 129, 184);
  padding: 1rem;
  margin-bottom: 4rem;
}

#reasons > .section-title {
  color: #FFF;
  margin: 2rem;
}

.reasons__list {
  list-style: none;
  text-align: center;
}

.reason {
  margin-bottom: 1rem;
}

.reason__description {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  color: #FFF;
}

.reason__img {
  background: rgb(29, 161, 242);
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 1.25rem;
}

/*---------------------------------------*/
/* MODAL */
/*---------------------------------------*/

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: rgb(81, 129, 184);
  padding: 1rem;
  border: 1px solid #2a5885;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
  color: #FFF;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #6ace26;
  background: #6ace26;
  text-decoration: none;
  color: white;
  font: inherit;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.4rem;
}

.modal__action:hover,
.modal__action:active {
  background: #FFF;
  border-color: #2ddf5c;
  color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #FFF;
  border-color: #ff5454;
  color: #ff5454;
}

@media (min-width: 22.5rem) {
	#product-overview div h1 {
		top: 35%;
	}
}

@media (min-width: 30rem) {
	.buttons {
    font-size: .9rem;
  }
}

@media (min-width: 36rem) {
	#product-overview {
    background-position: 50% 25%;
	}

	#product-overview div h1 {
    font-size: 2rem;
    top: 45%;
	}

	.plan {
		display: inline-block;
		width: 30%;
		vertical-align: middle;
		min-width: 13rem;
		max-width: 25rem;
	}

	.plan__list {
		text-align: center;
	}

	.plan__recommended {
		box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
	}

	.reason {
		display: inline-block;
		width: 30%;
		vertical-align: middle;
		max-width: 25rem;
  }
  
  .buttons {
    font-size: 1rem;
  }
}

@media (min-width: 1500px) {
	#product-overview div h1 {
    top: 45%;
  }

  .buttons {
    top: 60%;
  }
}