@media (min-width: 40rem) {
	#product-overview {
		background-position: 50% 25%;
	}

	#product-overview h1 {
		font-size: 4rem;
	}
}

@media (min-width: 75rem) {
}
@media (min-width: 48rem) {
}
@media (min-width: 62rem) {
}
@media (min-width: 36rem) {
}
@media (min-width: 40rem) {
}


/* Big tablets to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1280px) {}

/* Small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {}

/* Small phones: from 367 to 480px */
@media only screen and (max-width: 480px) {}

/* Small phones: from 343 to 366px */
@media only screen and (max-width: 366px) {}

/* Small phones: from 0 to 342px */
@media only screen and (max-width: 342px) {}

/* GRID */
@media screen and (min-width: 768px) {
	.row {
		margin-right: -40px;
	}
	
	.col {
		padding-right: 40px;
	}
		
	.col-sm-11 {width: 91.662%}
	.col-sm-10 {width: 83.332%;}
	.col-sm-9 {width: 75%;}
	.col-sm-8 {width: 66.662%;}
	.col-sm-7 {width: 58.331%}
	.col-sm-6 {width: 50%;}
	.col-sm-5 {width: 41.662%}
	.col-sm-4 {width: 33.332%;}
	.col-sm-3 {width: 25%;}
	.col-sm-2 {width: 16.662%;}
	.col-sm-1 {width: 8.332%;}
}

@media screen and (min-width: 1024px) {
	.col-md-11 {width: 91.662%}
	.col-md-10 {width: 83.332%;}
	.col-md-9 {width: 75%;}
	.col-md-8 {width: 66.662%;}
	.col-md-7 {width: 58.331%}
	.col-md-6 {width: 50%;}
	.col-md-5 {width: 41.662%}
	.col-md-4 {width: 33.332%;}
	.col-md-3 {width: 25%;}
	.col-md-2 {width: 16.662%;}
	.col-md-1 {width: 8.332%;}	
}

@media screen and (min-width: 1280px) {
	.col-lg-11 {width: 91.662%}
	.col-lg-10 {width: 83.332%;}
	.col-lg-9 {width: 75%;}
	.col-lg-8 {width: 66.662%;}
	.col-lg-7 {width: 58.331%}
	.col-lg-6 {width: 50%;}
	.col-lg-5 {width: 41.662%}
	.col-lg-4 {width: 33.332%;}
	.col-lg-3 {width: 25%;}
	.col-lg-2 {width: 16.662%;}
	.col-lg-1 {width: 8.332%;}
}