/* --------------------------------------- */
/* BASIC SETUP */
/* --------------------------------------- */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-color: rgba(81, 129, 184, 0.26);
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.backdrop {
  position: fixed;
  display: none;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.open {
  display: block !important;
  opacity: 1 !important;
  -webkit-transform: rotateY(0) !important;
          transform: rotateY(0) !important;
}

/* --------------------------------------- */
/* REUSABLE COMPONENTS */
/* --------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

/* ----- LINKS ----- */

a {
  text-decoration: none;
  cursor: pointer;
}

/* ----- HEADINGS ----- */

h1 {
  font-size: 1rem;
}

h2, h3 {
  margin: 1.25rem 0;
}

/* ----- BUTTONS ----- */

.button {
  background-color: #6ace26;
  color: #FFF;
  font: inherit;
  font-weight: bold;
  padding: .5rem;
  border: 1.5px solid #6ace26;
  border-radius: 8px;
  cursor: pointer;
}

.button:active,
.button:hover {
  background-color: #FFF;
  color: #6ace26;
}

.button:focus {
  outline: none;
}

.toggle-button {
  width: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

/*---------------------------------------*/
/* HEADER */
/*---------------------------------------*/

.main-header {
  background-color: rgb(42, 88, 133);
  padding: .5rem 1rem;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header div ul li {
  vertical-align: middle;
}

.main-header__brand {
  color: #FFF;
  font-size: 2rem;
  -webkit-transition: padding .5s;
  -o-transition: padding .5s;
  transition: padding .5s;
}

.main-header__brand:active,
.main-header__brand:hover {
  padding: .31rem 0;
  border-bottom: 4px solid #FFF;
  border-top: 4px solid #FFF;
  border-radius: 5px;
}

/* Main navi */

.main-nav {
  display: none;
  text-align: right;
  vertical-align: middle;
}

.main-nav__items {
  font-weight: bold;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav__item {
  padding-left: 1.25rem;
}

.main-nav__item a,
.mobile-nav__item a {
  color: #FFF;
  font-weight: bold;
  -webkit-transition: padding-bottom 1s;
  -o-transition: padding-bottom 1s;
  transition: padding-bottom 1s;
}

.main-nav__item a:active,
.main-nav__item a:hover {
  padding-bottom: 1.06rem;
  border-bottom: 4px solid rgb(247, 248, 250);
  border-radius: 5px;
}

.main-nav__item-btn {
  -webkit-animation: animate-button 200ms 3s 5 forwards;
          animation: animate-button 200ms 3s 5 forwards;
}

.main-nav__item-btn a,
.mobile-nav__item-btn a {
  color: #FFF;
  border: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  padding: .5rem 1rem;
  border-radius: 8px;
  background-color: #6ace26;
}

.main-nav__item-btn a:active,
.main-nav__item-btn a:hover,
.mobile-nav__item-btn a:active,
.mobile-nav__item-btn a:hover {
  border: 0;
  padding: .5rem 1rem;
  background: rgb(247, 248, 250);
  background-image: -webkit-gradient(linear, left top, right top, from(#6ace26), color-stop(10%, #96dc66), color-stop(80%, #96dc66), to(#6ace26));
  background-image: -webkit-linear-gradient(left, #6ace26 0%, #96dc66 10%, #96dc66 80%, #6ace26 100%);
  background-image: -o-linear-gradient(left, #6ace26 0%, #96dc66 10%, #96dc66 80%, #6ace26 100%);
  background-image: linear-gradient(to right, #6ace26 0%, #96dc66 10%, #96dc66 80%, #6ace26 100%);
  border-radius: 8px;
}

/* Mobile navi */

.mobile-nav-icon {
  cursor: pointer;
  display: block;
}

.mobile-nav-icon ion-icon[name="menu"] {
  font-size: 300%;
  color: #fff;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1da1f2), color-stop(10%, #1da1f2), color-stop(80%, #1da1f2), to(#1da1f2));
  background-image: -webkit-linear-gradient(top, #1da1f2 0%, #1da1f2 10%, #1da1f2 80%, #1da1f2 100%);
  background-image: -o-linear-gradient(top, #1da1f2 0%, #1da1f2 10%, #1da1f2 80%, #1da1f2 100%);
  background-image: linear-gradient(to bottom, #1da1f2 0%, #1da1f2 10%, #1da1f2 80%, #1da1f2 100%);
  opacity: .9;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

/*---------------------------------------*/
/* FOOTER */
/*---------------------------------------*/

.main-footer {
  background: #333;
  padding: 1rem;
  padding-bottom: 0.1rem;
}

.main-footer__links {
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-footer__link {
  margin: 0 1rem;
}

.main-footer__link a {
  color: #888;
}

.main-footer__link a:active,
.main-footer__link a:hover {
  color: #ccc;
}

.social-links {
  margin-top: 1rem;
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links li {
  margin-right: 1.5rem;
  font-size: 100%;
}

.social-links li:last-of-type {
  margin-right: 0;
}

.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 100%;
}

.social-icon {
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

ion-icon[name="logo-facebook"]:hover {
  color: #3b5998;
}

ion-icon[name="logo-twitter"]:hover {
  color: #1da1f2;
}

ion-icon[name="logo-instagram"]:hover {
  color: #c32aa3;
}

ion-icon[name="logo-pinterest"]:hover {
  color: #bd081c;
}

ion-icon[name="logo-googleplus"]:hover {
  color: #db4437;
}

ion-icon[name="logo-linkedin"]:hover {
  color: #007bb5;
}

ion-icon[name="logo-youtube"]:hover {
  color: #ff0000;
}

.copyright {
  color: #888;
  max-width: 100vw;
  font-size: .7rem;
  text-align: center;
  margin-top: 1rem;
}

@media (min-width: 64rem) {
  .package {
    width: 40%;
    border: 4px solid #4a76a8;
  }
  
  .package:active,
  .package:hover {
    -webkit-box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, .5);
            box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, .5);
  }
}

@media (min-width: 45rem) {
  .mobile-nav-icon {
    display: none;
  }

  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .social-links li {
    font-size: 150%;
  }
}

@media (min-width: 22.5rem) {
  .copyright {
    font-size: .8rem;
  }
}

@-webkit-keyframes animate-button {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  100% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
}

@keyframes animate-button {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  50% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  100% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
}